/* forgoing nice things like flexbox and viewport sizing because IE is going to
   fail. Transforms are jank-city in unsupported browsers but it's a usability
   tradeoff. */

body {
    margin: 0;
    overflow-x: hidden;
    background-color: #DEDEDE;
}

/* may be costly but saves LOC, not much to parse anyway */
*:focus {
    outline: 2px solid #FFEB3B;
}

*:active {
    outline: none;
}

img {
    max-width: 100%;
}

input[type=checkbox] {
    visibility: hidden;
    z-index: 1;
    position: fixed;
}

div.page {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    transition: transform 0.3s ease;
}

#hamburger:checked ~ div.page {
    -webkit-transform: translate(80%, 0);
    transform: translate(80%, 0);
    transition: transform 0.3s ease;
}

#hamburger:checked ~ nav {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0) !important;
    transition: transform 0.3s ease;
    box-shadow: 10em 0 1px rgba(0, 0, 0, 0.3);
}

#hamburger:checked ~ div.page label {
    position: relative;
}

#hamburger:checked ~ div.page label::before {
    content: '';
    position: absolute;
    bottom: -22em;
    top: -1em;
    right: -50em;
    left: -50em;
}

label {
    cursor: pointer;
}

.header__nav-icon {
    font-size: 2.5em;
    float: left;
    padding: .15em .3em 0 .3em;
    z-index: 2;
    color: white;
    cursor: pointer;
    text-decoration: none;
    transform: rotateY(180deg);
}

#up-arrow {
    font-size: 1.7em;
    margin: .4em .3em 0 .3em;
}

.pageBtn {
    position: absolute;
    top: .7em;
    right: 2em;
    text-decoration: none;
    color: #fff;
    font-size: 1.5em;
    cursor: pointer;
    padding: 0;
    border: none;
    background: none;
}

header {
    background-color: #673AB7;
    padding: 0.05em 0 .3em .3em;
    z-index: -1;
    box-shadow: 0 0.2em 1px rgba(0, 0, 0, 0.3);
}

header > h1 {
    margin-right: .5em;
    color: white;
    font-size: 1.4em;
    padding-top: .15em;
    padding-bottom: .4em;

    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: normal;
}

.nav {
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
    z-index: 5;
    background-color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
    transition: transform 0.3s ease;
}

.nav > h2 {
    display: none;
}

.nav__list {
    width: 100%;
    padding: 0;
    margin: 0;
    padding-top: 2em;
}

.nav__item {
  box-sizing: border-box;
  line-height: 2em;
  padding: 1em 2em;
  display: list-item;
  text-align: left;
}

.nav a {
  text-decoration: none;
  margin-left: 1em;
  color: #757575;
  opacity: 54%;
}

hr {
    border-top: 1px solid rgba(189, 189, 189, 0);
    margin-left: 10%;
    margin-right: 5%;
}


.nav a:hover {
  text-decoration: underline;
  color: #212121;
}


main {
  top: 5em;
  /* make room for header shadow */
  margin-top: .2em;
  padding-top: 1em;
  bottom: 0;
  position: static;
  width: 100%;
  background-color: #DEDEDE;
}


/* slide in from right transform when recipe selected */
/* #pizza:checked ~ div.page { */
/*     -webkit-transform: translate(-100%, 0); */
/*     transform: translate(-100%, 0); */
/*     transition: transform 0.3s ease; */
/* } */

@media screen and (min-width: 799px) {
    .header__nav-icon {
        display: hidden;
    }

    .header > h1 {
        margin-left: 10em;
        font-size: 1.5em;
    }

    nav > * > hr, .hamburger__label {
        display: none;
    }

    .nav {
        width: 14em;
        position: fixed;
        left: 0;
        top: 0;
        border-right: 1px solid rgba(189, 189, 189, 12);
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        transition: transform 0s;
    }

    header > h1 {
        margin-left: 5em;
    }

    .nav > h2 {
        display: block;
        font-family: cursive;
        /* TODO: add funky font, right now the fonts won't render in my browser :/ */
        border-bottom: 1px solid rgba(189, 189, 189, 12);
        padding-bottom: 1.25em;
    }

    main {
        margin-left: 14em;
    }

    #pushBtn ~ label {
        margin-left: 15em;
    }
}
